<h1>アーティストごとの曲投稿</h1>

 

<%= form_for @song do |f| %>
  <%= f.label :title, "曲のタイトル" %>
  <%= f.text_field :title %>

  <%= f.label :music_id, "アーティスト" %>
  <%= f.collection_select :music_id, Music.all, :id, :content, prompt: "アーティストを選択" %>

   <%= f.label :youtube_url %>
   <%= f.text_field :youtube_url, :size => 140 %>


  <%= f.submit "曲を投稿" %>
<% end %>