<h3>曲詳細</h3>
<div class="song">
  <p><%= @song.title %></p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @song.find_youtube_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <% if user_signed_in? %>
      <% if current_user.already_liked?(@song) %>
        <%= button_to song_like_path(@song), method: :delete do %>
          <p>いいねを取り消す</p><%= @song.likes.count %>
        <% end %>
      <% else %>
        <%= button_to song_likes_path(@song), method: :post do %>
         <p>いいね</p><%= @song.likes.count %>
        <% end %>
      <% end %>
    <% else %>
       <p>いいねの数 = </p><%= @song.likes.count %>
    <% end %>

</div>