<%= form_for @music do |f| %>

 <%= render 'musics/error_messages', model: f.object %>
  <%= f.label :content,"アーティスト名" %>
  <%= f.text_field :content %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.select :category, [["アイドル", "idol"], ["邦ロック", "japaneserock"], ["洋ロック", "westernrock"],["アニメ", "anime"],["J-POP", "jpop"],["K-POP", "kpop"]], include_blank: "ジャンル" %>


  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", musics_path %>

