<div class="musicscontent">
  <h1>洋ロック</h1>
  <h3>投稿を検索</h3>
  <%= form_tag({controller:"musics",action:"westernrock"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する'  %>
  <% end %>
  <div class="musicscontent">
    <% if user_signed_in? %>
      <%= link_to "マイページへ", user_path(current_user.id) %>
    <% end %>
  </div>
</div>

<div class="musics-container">
  <div class="music-box">
    <% @musics.each do |t| %>
      <div class="music_review">
          <% if t.category == "westernrock" %>  
          <%= link_to artist_songs_path(id: t.id) do %>
            <%= image_tag t.image_url, size: "380x320", class: "rounded-image" if t.image? %>
          <% end %>
          <p><%= t.content %></p>
          <%= button_to "削除する", music_path(t.id), method: :delete %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>