<!DOCTYPE html>
<html>
  <head>
    <title>MusicLivetSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
        <a href="https://front.codes/" class="logo" target="_blank">
  </a>

    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
    <label for="menu-icon"></label>
    <nav class="nav">     
      <ul class="pt-5">
          <% if user_signed_in? %>
            <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li> 
            <li> <%= link_to "アーティスト投稿", new_music_path %> <li>
            <li><%= link_to "アーティスト曲投稿",  new_song_path %> <li>
            <li><%= link_to "アイドル", musics_idol_path %> <li>
            <li> <%= link_to "邦ロック",  musics_japaneserock_path %><li>
            <li><%= link_to "洋ロック",  musics_westernrock_path %><li>
            <li><%= link_to "アニメ",  musics_anime_path %><li>
            <li><%= link_to "J-POP",  musics_jpop_path %><li>
            <li><%= link_to "K-POP",  musics_kpop_path %><li>
            <li><%= link_to "カレンダー",  blogs_path %><li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav> 
  
 <main>
    <%= yield %>
    </main>
  </body>
</html>
